 {{#if testButton}}<button class="navigation-v2__test-button">animate</button>{{/if}}
<div class="navigation-v2__container" {{#if dataModule}} data-module="{{dataModule}}" {{/if}}>
  <div class="container">
    <div class="navigation-v2">
      <nav>
        <ul>
          <li class="work active"><a href="#work">work</a></li>
          <li class="expertise"><a href="#expertise">expertise</a></li>
          <li class="industries"><a href="#industries">industries</a></li>
          <li class="insights"><a href="#insights">insights</a></li>
          <li class="about"><a href="#about">about us</a></li>
          <li class="careers"><a href="#careers">careers</a></li>
        </ul>
        <div class="marker"></div>
      </nav>
      <div class="navigation-v2__sections">
        {{#each sections}}
          {{> menu-overlay-section items=items title=title subtitle=subtitle}}
        {{/each}}
      </div>
    </div>
  </div>
</div>