<div class="card {{#if usePattern}}card--with-pattern{{/if}}" data-module="card">
  {{#if usePattern}}
  {{#if patternVariation}}
  {{> card-pattern variation=patternVariation}}
  {{else}}
  {{> card-pattern variation="1"}}
  {{/if}}
  {{/if}}
  <div class="card__overlay"></div>
  <div></div>
  <a href=""></a>
  {{#if srcset}}
  {{>picture srcset=srcset src=src width=width height=height description=description}}
  {{/if}}
  <div class="card__text">
    {{text}}
  </div>
</div>