<div
  class="card-pattern"
  data-variation={{variation}}
  data-duration="1"
  data-delay="0.25"
  {{#if dataModule}}
  data-module="{{dataModule}}"
  {{/if}}
>
  <div class="card-pattern__container">
    <svg
      class="card-pattern__chevron--w-accent"
      width="189"
      height="146"
      viewBox="0 0 189 146"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        id="accent"
        class="accent"
        d="M62.9625 108.031L126.596 145.139L188.974 109.378L125.749 71.8489L125.164 72.8338L186.701 109.361L126.601 143.816L64.1091 107.373L64.1562 37.0991L63.011 37.0984L62.9625 108.031Z"
      ></path>
      <path
        id="chevron"
        class="chevron"
        d="M63.1829 36.4746L0 0V71.912L62.8968 108.229L63.1829 108.395L126.08 72.0777L126.366 71.912V0L63.1829 36.4746ZM125.22 1.98468V71.2507L63.1829 107.071L1.14589 71.2507V1.98468L62.8968 37.6323L63.1829 37.7979L125.22 1.98468Z"
      ></path>
    </svg>

    <svg
      class="card-pattern__chevron"
      width="127"
      height="109"
      viewBox="0 0 127 109"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        id="chevron"
        class="chevron"
        d="M1.14587 71.25L63.1829 107.07L125.22 71.25V1.98535L63.4697 37.6323L63.1829 37.798L1.14587 1.98535V71.25ZM126.366 0V71.9114L63.4697 108.229L63.1829 108.394L0.286804 72.077L0 71.9114V0L63.1829 36.4746L126.366 0Z"
      ></path>
    </svg>

    <svg
      class="card-pattern__panels"
      width="190"
      height="147"
      viewBox="0 0 190 147"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        id="panels"
        class="panels"
        d="M127.576 0L0.286804 73.4304L0.570374 73.9215H0V145.507L63.1823 109.034L127.023 146.166L127.313 146.336L189.811 109.311L127.576 72.995V0ZM65.1663 37.3252L126.43 1.98401V71.2487H126.409V72.3933L65.1663 37.3252ZM63.7487 108.037V38.1437L64.0178 37.9878L126.409 73.7134V144.485L63.7487 108.037ZM1.14594 74.2568L62.6022 38.8043V108.045L1.14594 143.523V74.2568ZM127.555 74.3098L187.55 109.318L127.555 144.861V74.3098Z"
      ></path>
    </svg>
  </div>
</div>