<div class="menu-trigger" {{#if dataModule}} data-module="{{dataModule}}" {{/if}}>
  <button class="menu-trigger__toggle" aria-label="Click to toggle Primary Nav">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>