<article id="@@id" class="navigation-v2__section">
  <div class="navigation-v2__animated-item navigation-v2__header">
    <h2>Our <span>Work</span></h2>
    <a href="#" data-module="analytics" data-name="Work">
      Explore Our
      <span>Work</span>
      <svg viewBox="0 0 320 147">
        <use xlink:href="#arrow-right-v2"></use>
      </svg>
    </a>
  </div>

  <div class="navigation-v2-one__container">
    <div class="navigation-v2__item navigation-v2__animated-item">
      <span class="navigation-v2__item--line"></span>
      <a
        href="#"
        data-module="analytics"
        data-name="Aspen Snowmass/CMS"
        data-menu-category="internal"
      ></a>
      <p>Aspen Snowmass</p>
      <span>Content tag</span>
      <span class="navigation-v2__item--line"></span>
    </div>
    <div class="navigation-v2__item navigation-v2__animated-item">
      <span class="navigation-v2__item--line"></span>
      <a href="#"></a>
      <p>Acadian</p>
      <span>Content tag</span>
      <span class="navigation-v2__item--line"></span>
    </div>
    <div class="navigation-v2__item navigation-v2__animated-item">
      <span class="navigation-v2__item--line"></span>
      <a href="#"></a>
      <p>IEWC</p>
      <span>Content tag</span>
      <span class="navigation-v2__item--line"></span>
    </div>
  </div>

</article>